!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header-container
      header.wrapper
        h1#wrapper= title
        nav
          ul
            li 1
            li 2
    #main!= body
