form(method="post")
  .clearfix
    label Email
    .input
      input(name="user[email]", type="text", class="xlarge")
  .clearfix
    label Password
    .input
      input(name="user[password]", type="password", class="xlarge")
  .clearfix
    label Confirm Password
    .input
      input(name="confirm", type="password", class="xlarge")
  .actions
    input(type="submit", class="btn primary", value="Create Account")
